/test
/.ftpquota
/.htaccess
error_log
/update.php
/application/config/config.php
/application/config/database.php
/application/helpers/dompdf/lib/fonts/log.htm
application/helpers/dompdf/lib/fonts/log.htm
/bugtracker/*
/database/*
/download/*
*.zip
